doctype html
html(lang='en')
  head
    title Registered Users
    style.
      table.ui.celled img { display: inline-block; }
      footer { margin: 35px 0 15px 0; text-align: center }
  body
    main#main
    h1.ui.center.aligned.header Registered Users
    .ui.container
      p=users 
